	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/02/2016 12:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-thunderlion-ui-1-109395:before { content: "\f100"; }
.flaticon-thunderlion-ui-10-109404:before { content: "\f101"; }
.flaticon-thunderlion-ui-109393:before { content: "\f102"; }
.flaticon-thunderlion-ui-11-109405:before { content: "\f103"; }
.flaticon-thunderlion-ui-12-109406:before { content: "\f104"; }
.flaticon-thunderlion-ui-13-109407:before { content: "\f105"; }
.flaticon-thunderlion-ui-14-109408:before { content: "\f106"; }
.flaticon-thunderlion-ui-15-109409:before { content: "\f107"; }
.flaticon-thunderlion-ui-16-109410:before { content: "\f108"; }
.flaticon-thunderlion-ui-17-109411:before { content: "\f109"; }
.flaticon-thunderlion-ui-18-109412:before { content: "\f10a"; }
.flaticon-thunderlion-ui-19-109413:before { content: "\f10b"; }
.flaticon-thunderlion-ui-2-109396:before { content: "\f10c"; }
.flaticon-thunderlion-ui-20-109414:before { content: "\f10d"; }
.flaticon-thunderlion-ui-21-109415:before { content: "\f10e"; }
.flaticon-thunderlion-ui-22-109416:before { content: "\f10f"; }
.flaticon-thunderlion-ui-23-109417:before { content: "\f110"; }
.flaticon-thunderlion-ui-24-109418:before { content: "\f111"; }
.flaticon-thunderlion-ui-25-109419:before { content: "\f112"; }
.flaticon-thunderlion-ui-26-109420:before { content: "\f113"; }
.flaticon-thunderlion-ui-27-109421:before { content: "\f114"; }
.flaticon-thunderlion-ui-28-109422:before { content: "\f115"; }
.flaticon-thunderlion-ui-29-109423:before { content: "\f116"; }
.flaticon-thunderlion-ui-3-109397:before { content: "\f117"; }
.flaticon-thunderlion-ui-30-109424:before { content: "\f118"; }
.flaticon-thunderlion-ui-31-109425:before { content: "\f119"; }
.flaticon-thunderlion-ui-32-109426:before { content: "\f11a"; }
.flaticon-thunderlion-ui-33-109431:before { content: "\f11b"; }
.flaticon-thunderlion-ui-34-109432:before { content: "\f11c"; }
.flaticon-thunderlion-ui-35-109433:before { content: "\f11d"; }
.flaticon-thunderlion-ui-36-109434:before { content: "\f11e"; }
.flaticon-thunderlion-ui-37-109435:before { content: "\f11f"; }
.flaticon-thunderlion-ui-38-109436:before { content: "\f120"; }
.flaticon-thunderlion-ui-39-109437:before { content: "\f121"; }
.flaticon-thunderlion-ui-4-109398:before { content: "\f122"; }
.flaticon-thunderlion-ui-40-109438:before { content: "\f123"; }
.flaticon-thunderlion-ui-41-109439:before { content: "\f124"; }
.flaticon-thunderlion-ui-42-109440:before { content: "\f125"; }
.flaticon-thunderlion-ui-43-109441:before { content: "\f126"; }
.flaticon-thunderlion-ui-44-109442:before { content: "\f127"; }
.flaticon-thunderlion-ui-45-109443:before { content: "\f128"; }
.flaticon-thunderlion-ui-46-109444:before { content: "\f129"; }
.flaticon-thunderlion-ui-47-109445:before { content: "\f12a"; }
.flaticon-thunderlion-ui-48-109446:before { content: "\f12b"; }
.flaticon-thunderlion-ui-49-109447:before { content: "\f12c"; }
.flaticon-thunderlion-ui-5-109399:before { content: "\f12d"; }
.flaticon-thunderlion-ui-50-109448:before { content: "\f12e"; }
.flaticon-thunderlion-ui-51-109449:before { content: "\f12f"; }
.flaticon-thunderlion-ui-52-109450:before { content: "\f130"; }
.flaticon-thunderlion-ui-53-109451:before { content: "\f131"; }
.flaticon-thunderlion-ui-54-109452:before { content: "\f132"; }
.flaticon-thunderlion-ui-55-109453:before { content: "\f133"; }
.flaticon-thunderlion-ui-6-109400:before { content: "\f134"; }
.flaticon-thunderlion-ui-7-109401:before { content: "\f135"; }
.flaticon-thunderlion-ui-8-109402:before { content: "\f136"; }
.flaticon-thunderlion-ui-9-109403:before { content: "\f137"; }