*{
        padding: 0;
        margin: 0;
}
body{
        background-color: #3C3644;
}
@font-face{
        src:url(../fonts/TYPOGRAPH.ttf);
        font-family: TYPOGRAPH;
}
#wow{
        width: 400px;
        margin: 50px auto;
        overflow: hidden;
}
#wow div.title{
        margin: auto auto;
        overflow: hidden;
        display: table;
}

#wow div.title i:before{
       float: left;
       color: #D96565;
       font-size: 40px;

}

#wow div.title h1{
        float: left;
        font-family:TYPOGRAPH;
        font-weight: normal;
        color: #D96565;
        font-size: 40px; 
        margin-right: 10px;
        margin-top: 5px;
}
#wow div.eslogan{
        text-align: center;
        padding: 40px;
        font-family: TYPOGRAPH;
        font-size: 16px;
        color: #D96565;
        overflow: hidden;
}

form{
        background: #eeeeee;
        border-bottom: 4px solid #D96565;
}
form div.form-group h1{
        font-family: TYPOGRAPH;
        font-weight: normal;
}
form div.form-group{
        display: block;
        text-align: center;
        padding: 28px;
        overflow: hidden;
}
form div.form-group:last-child{
        margin-bottom: 20px;
}

form div.form-group input{
       padding: 10px 15px;
       color:#3C3644;
       width:80%;
       border: 0;
       border-left: 2px solid #D96565;
}
form div.form-group textarea{
       padding: 20px 15px;
       color:#3C3644;
       width:80%;
       border: 0;
       border-left: 2px solid #D96565;

}
form div.form-group input[type='button']{
        background: #D96565;
        color: white;
        width: 25%;
        padding: 10px 15px;
        float: left;
        margin-left: 30px;
}
form div.form-group input p{
        
        color: #3C3644;
        float: right;
        margin-right: 20px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        
}

form div.form-group p a{

  font-weight: bold;
  cursor: pointer;
}
form div.form-group input:focus{
       outline: 0;
}
form div.form-group textarea:focus{
       outline: 0;
}

::-webkit-input-placeholder{
        color:#3C3644;
}
:-moz-placeholder{
        color:#3C3644;
}
::-moz-placeholder{
        color:#3C3644;
}
:-ms-input-placeholder{
        color:#3C3644;
}



#form-register{
        display: none;
}