<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="utf-8"/>
        <meta name="author" content="Luis Garcia"/>
        <meta name="description" content="WOW CHAT - HAZ CON EL CHAT."/>
        <meta name="keyword" content="WOW,CHAT,HTML5,TROSSKY,CSS3,JS,PHP,PDO,SISTEMA"/>
        
        <title>{{sitename}} -CHAT</title>
        <link href="{{siteurl}}public/css/index.css" rel="stylesheet"  type="text/css">
        <link href="{{siteurl}}public/css/flaticon.css" rel="stylesheet"  type="text/css">

        <script src="{{siteurl}}public/js/jquery-1.12.1.min.js"></script>       
        <script src="{{siteurl}}public/js/trossky.js"></script>       
        
</head>
<body>
      
    <div id="wow" >

        <div class="title">
        <i class="flaticon-thunderlion-ui-21-109415"></i> <h1>¡{{sitename}}!-CHAT</h1>
        </div>
        <!-- End Title-->

        <div class="eslogan"> HAZ ¡{{sitename}}! CON EL CHAT.</div>

        <!-- End eslogan-->

        <form id="form-login">

                <div class="form-group"><h1>¡{{sitename}}!</h1></div>

                <!-- end-form-group-->

                <div class="form-group">
                    <input type="text" id="username" placeholder="Escriba su usuario"></input>
                </div>

                <!-- end-form-group-->

                <div class="form-group">
                        <input type="password" id="password" placeholder="Escriba su contraseña"></input>
                </div>

                <!-- end-form-group-->

                <div class="form-group">
                        <input type="button" id="button-register" name="Entrar" value="Entrar">
                        <p>¿Eres nuevo? <a id="b-r">Resgistrate...</a></p>
                </div>

        </form>

        <!-- End-form-login-->

        <form id="form-register">

                <div class="form-group"><h1>¡{{sitename}}!</h1></div>

                <!-- end-form-group-->

                <div class="form-group">
                    <input type="text" id="username" placeholder="Escriba su usuario"></input>
                </div>

                <!-- end-form-group-->

                <div class="form-group">
                        <input type="password" id="password" placeholder="Escriba su contraseña"></input>
                </div>

                <!-- end-form-group-->

                <div class="form-group">
                        <textarea placeholder="Escriba una bio... sobre usted" id="description"></textarea>
                </div>

                <!-- end-form-group-->

                <div class="form-group">
                        <input type="button" id="button-register" name="Registrar" value="Registrar">
                        <p>¿Ya tienes cuenta? <a id="b-e">Entrar...</a></p>
                </div>

        </form>

        <!-- End-form-register-->
        
        </div>

                

        
</body>
</html>